<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This page belongs to @ <%= data.name %></h1>
    <div class="button-container">
        <button>Follow</button>
        <button>Message</button>
    </div>
    
    <p>
        Followers: <%= data.followers %>&nbsp;&nbsp;&nbsp;&nbsp; Following: <%= data.following %>
    </p>

    <% for (let post of data.posts) { %>
        <img src="<%= post.images %>" alt="Post image">
        <p class="likes-comments">
            Likes: <%= post.likes %>&nbsp;&nbsp;&nbsp;&nbsp; Comments: <%= post.comment %>
        </p>
    <% } %>
</body>
</html>
